<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Viewer</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/css/uikit.min.css" />
  <style>
    #eName { color: white }
  </style>
</head>

<body>
  <div class="uk-grid-collapse uk-child-width-expand uk-text-center uk-margin-bottom" uk-grid>
    <div>
      <div class="uk-heading-large uk-padding uk-card-primary">Team Viewer</div>
    </div>
  </div>
  <div class="uk-container">
    <div class="uk-grid-small uk-child-width-1-4@m uk-flex-center uk-text-center" id="eMain" uk-grid>
    </div>
  </div>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit-icons.min.js"></script>
</body>

</html>