<div>
  <div class="uk-card uk-card-default">
    <div class="uk-card-header uk-card-primary">
      <h2 class="uk-margin-remove"><span id="eName"></span></h2>
      <h4 class="uk-margin-remove"><span uk-icon="icon: star; ratio: 1.5"></span> Manager</h4>
    </div>
    <div class="uk-card-body uk-background-muted">
      <ul class="uk-list uk-list-divider">
        <li>ID: <span id="eId"></span></li>
        <li>Email: <span id="eEmail"></span></li>
        <li>Office Number: <span id="eExtra"></span></li>
      </ul>
    </div>
  </div>
</div>